[2015-04-17 09:40] timrcoulson opened #16 "Incorrect credentials will still "authenticate" on an open Gerrit instance"
Let's say you have a Gerrit instance that allows anonymous, unregistered users to access the REST interface, but doesn't permit anonymous cloning/fetching etc.
If you then try and authenticate with incorrect credentials, instead of failing, the client will not bother with the authentication step and neglect the "/a/" appendix. This works for cases where you want to retrieve data from the REST inte

[2015-04-17 10:28] timrcoulson commented on #16
Actually, I'm backtracking. Not sure this is important, because the authentication used to access the REST api is different to that used to access the actual repository. Unless you think differently, I'll close this out :)

[2015-04-18 09:41] #16 closed

[2015-06-24 08:01] themazay opened #17 "Incorrect format request creating within List<ChangeInfo> get(QueryRequest queryRequest) in ChangesRestClient"
In all cases we get request string with change id in option 'q'.
But gerrit does not accept triplet (project~branch~changeId) in options section, it only accepts it in URL, just like .../changes/triplet/...
And we get an error about a wrong symbol '~'.

[2015-06-24 17:23] uwolfer commented on #17
@themazay: Can you please post your code-parts which cause this issue?

[2015-06-24 19:10] themazay commented on #17
The problem is solved. Answer is "The realisation compatible with Gerrit 2.11.x".
But in this case you should state it in release notes.
I will be able to post a code that cause the issue tomorrow. Write if it is not necessary yet, please.

[2015-06-24 19:18] themazay commented on #17
private List<ChangeInfo> get(QueryRequest queryRequest) throws RestApiException {
        String query = "";
        if (!Strings.isNullOrEmpty(queryRequest.getQuery())) {
            query = UrlUtils.appendToUrlQuery(query, "q=" + queryRequest.getQuery());
        }
        if (queryRequest.getLimit() > 0) {
            query = UrlUtils.appendToUrlQuery(query, "n=" + queryRequest.getLimit());

[2015-06-25 06:12] themazay commented on #17
GerritRestApiFactory gerritRestApiFactory = new GerritRestApiFactory();
GerritAuthData.Basic authData = new GerritAuthData.BasicGerritAuthData.Basic("http://gerrithost", "gerrit_user", "qoi7RM...p6q8Ku12");
GerritApi gerritApi = gerritRestApiFactory.create(authData);
ChangeApi changeApi = gerritApi.changes().id("ProjectName~master~Iced78421e96a56ac38588b829ae2899c0c124943");
ChangeInfo changeInfo

[2015-06-26 13:36] tdrury opened #18 "How do I get comments to a file?"
I can see in the REST API that a call is supposed to be made to URL /changes/{change-id}/detail but I don't see in the Java API source where a call is made to get details, but I do see the CommentInfo class in the jar (and the parser and unit test - nice mocking BTW), but I can't figure out how I'm supposed to get the CommentInfo from the Java API.  Any help?

[2015-06-26 17:37] forrert commented on #18
I think the API calls you are looking for are the following:

[code]

There are a few more methods to retrieve comments, they are all in the ```com.google.gerrit.extensions.api.changes.ChangeApi``` interface.

[2015-06-26 18:24] tdrury commented on #18
Thanks, I just figured it out and came back to comment but you beat me to it.

My (groovy) version is:
   gerritRestApi.changes().id(changeId).revision(revisionNumber).comments();
which lets me get all the comments for a specific revision of a change.  The key in the return map is the file in which the comments were made.

[2015-06-26 18:24] #18 closed

[2015-06-26 20:22] uwolfer commented on #17
@themazay: It is possible that loading changes by triple is only supported by newer Gerrit versions. This is not an issue of this library.

If you can find any REST call with works with a triple against an older version of Gerrit, please post it here.

[2015-06-26 20:22] #17 closed

[2015-06-29 19:48] tdrury opened #19 "get labels for specific review"
I can get the LabelInfo from a ChangeInfo, but this only gives you the last reviews for a merged change.  I'd like to get the reviews for each revision in the patch set.  I think I can get [this information via](https://git.wdf.sap.corp/Documentation/rest-api-changes.html#get-review):

    GET /changes/{change-id}/revisions/{revision-id}/review

but I don't see any way to fetch it via the Java API

[2015-07-01 17:49] uwolfer commented on #19
I don't think this is supported by Gerrit. If I try the url you posted, I always get labels for the most recent revision.

Please reopen this issue if your are sure that you can get this information with Gerrit REST API.

[2015-07-01 17:49] #19 closed

[2015-11-20 19:12] uwolfer opened #21 "Add support XSRF token as cookie ("X-Gerrit-Auth")"
There is a recent change in Gerrit master for moving the token from the host page HTML to a cookie: https://gerrit-review.googlesource.com/72031/

[2015-11-20 19:17] uwolfer opened #22 "Authentication failure when Gerrit server is unavailable at first request"
It looks like a caching issue when Gerrit server is not available at first request. I can reproduce this issue in my setup with an Nginx reverse proxy using htaccess login.

When using the IntelliJ plugin, IntelliJ needs to be restarted after such a failure in order to get the plugin working.

[2015-12-03 20:20] uwolfer commented on #22
Fixed in https://github.com/uwolfer/gerrit-rest-java-client/commit/7be4500077b5854737a0b193e8020753c61431e8.

[2015-12-03 20:20] #22 closed

[2015-12-05 13:22] #21 closed

[2015-12-16 08:40] lucamilanesio opened #24 "Why not hosting this project on gerrit-review.googlesource.com?"
Hi @uwolfer, I was wondering if it would make sense to have this project hosted on gerrit-review.googlesource.com and thus getting the reviews and audience of Gerrit devs and contributors :-)

What do you think?

Luca.

[2015-12-17 18:23] uwolfer commented on #24
It would probably make sense to do that.

What changes would be required for doing that?

* Change package-name to com.google?
* Change copyright?
* What else?

[2016-01-21 15:43] yanbi opened #29 "submit change"
I thought that the java client doesn't support the function of submitting change. (Ref.:https://gerrit-review.googlesource.com/Documentation/rest-api-changes.html#submit-change) Could anyone help to implement this? thanks a lot.

[2016-01-21 19:36] uwolfer commented on #29
@yanbi: Are you looking for `api.changes().id(...).current().submit()` (`com.google.gerrit.extensions.api.changes.RevisionApi#submit()`)?

[2016-01-22 14:42] yanbi commented on #29
Yes! Do you have implemented it already? For my understanding, all the functions executing http method GET work fine, and others related with PUT or POST, I didn't find the way!

[2016-01-22 14:44] uwolfer commented on #29
Yes, it is implemented. There are many PUT and POST methods which are working. Things that are not implemented, thrown an exception so you will notice it.

[2016-01-22 14:44] #29 closed

[2016-01-22 15:47] yanbi commented on #29
Okay, So it seems that it doesn't work for me. What I got was:
com.google.gerrit.extensions.restapi.NotImplementedException: Not implemented.

Could you please write a simple sample, if it's possible. Many thanks for that!

[2016-01-22 16:09] uwolfer commented on #29
@yanbi: Can you please post your code (relevant parts) which is not working?

[2016-01-24 21:21] yanbi commented on #29
The code likes following, the part of getting the changes works fine. But I can's submit the change after I got it. Many thanks!. Yan
-----------------------------------------------------------------------------------------------------
 GerritRestApiFactory gerritRestApiFactory = new GerritRestApiFactory();
GerritAuthData.Basic authData = new GerritAuthData.Basic("https://example.com/gerrit", "use

[2016-01-25 04:53] uwolfer commented on #29
Try `RevisionApi revisionApi=gerritApi.changes().id(change.id).current();` insted of `RevisionApi revisionApi=gerritApi.changes().create(change).current();`.

[2016-01-25 08:12] yanbi commented on #29
many thanks!!! It works now!!!

[2016-03-10 10:59] sschuberth commented on #24
One argument against hosting it on gerrit-review.googlesource.com is that we'd lose the nice TravisCI / Coveralls / VersionEye integrations.

[2016-03-10 11:02] sschuberth opened #34 "Publish SNAPSHOTs on Sonatype"
Can we get SNAPSHOTs published on Sonatype? We'd esp. need `gerrit-rest-java-client-0.8.8-SNAPSHOT.jar` for @EdwinKempin's [ReviewIT](https://gerrit-review.googlesource.com/#/projects/apps/reviewit,dashboards/default) Android app :-)

[2016-03-10 11:38] EdwinKempin commented on #34
This request is about the httpclient-android branch.

[2016-03-10 11:58] sschuberth commented on #34
Oh, sorry, I wasn't aware of that. In that case, maybe it's too confusing to publish a SNAPSHOT that is not built from master? What's the plan to integrate httpclient-android to master?

[2016-03-10 18:01] uwolfer commented on #34
Great work on ReviewIT! :+1:

I have not looked into publishing snapshots yet, but I release "normal" releases to Sonatype (but not the httpclient-branch yet). If you know any easy (probably almost automated way) to publish snapshots to Sonatype, please let me know.

I really would like to have just one branch, but this is not possible because of the [httpclient issue on Android](https://hc.apache

[2016-03-11 14:48] sschuberth commented on #34
The httpclient issue is indeed annoying. @uwolfer just wondering, have you considered instead using using [Retrofit](https://github.com/square/retrofit)? Being based on [OkHttp](https://github.com/square/okhttp) it should work equally well on Android and JVM.

[2016-03-11 16:07] sschuberth opened #35 "Tests fail on Windows"
I just realized `mvn -B test` failes on Windows with:

    testParseSingleUserInfos(com.urswolfer.gerrit.client.rest.http.accounts.AccountsParserTest)  Time elapsed: 0.005 sec  <<< FAILURE!
    com.google.gson.JsonSyntaxException: com.google.gson.stream.MalformedJsonException: Use JsonReader.setLenient(true) to accept malformed JSON at line 1 column 3 path $
        at com.google.gson.JsonParser.p

[2016-03-13 13:02] uwolfer commented on #35
I remember having discussed this issue some time ago also with mGerrit developer.

Urs Wolfer:

https://google-gson.googlecode.com/svn/trunk/gson/docs/javadocs/com/google/gson/stream/JsonReader.html#nonexecuteprefix

Evan Conway (@p4r4n01d )

So it looks like reading a file on Win leads in a different result as reading it on Linux. Probably this is even a bug in JsonParser?

[2016-03-13 13:06] uwolfer commented on #34
mGerrit developer @p4r4n01d has tried to port it to OkHttp some time ago but he decided to stay with HttpClient after some time because of missing features.

His work-in-progress (abandoned) can be found here: https://github.com/p4r4n01d/gerrit-rest-java-client/commits/okhttp

I have not looked into Retrofit yet.

[2016-03-13 14:12] sschuberth commented on #35
Thanks for the info. I agree that Gson's check is a bit too strict. While I'll look into submitting a patch to Gson, the more straight-forward fix for now is too enforce LF line endings for the JSON test resources I'll submit a PR shortly.

[2016-03-13 14:21] #35 closed

[2016-03-15 12:11] sschuberth commented on #35
@uwolfer @p4r4n01d FYI, [here's my attempt](https://github.com/google/gson/pull/810) to fix the line-ending issue upstream in Gson.

[2016-03-15 12:27] sschuberth commented on #34
@p4r4n01d Would you have any details on the missing features and whether using [Retrofit](https://square.github.io/retrofit/) on top of OkHttp would help?

[2016-03-15 12:33] sschuberth commented on #34
@uwolfer WRT publishing snapshots to Sonatype, have you checked the videos at http://central.sonatype.org/pages/ossrh-guide.html? For the *httpclient-android* branch you could probably publish with the classifier set to `android`, and publish this artifact in parallel to the one from the *master* branch.

[2016-03-16 10:00] p4r4n01d commented on #34
@sschuberth I have done some searching through my emails from when I was working on this and from what I remember, only the Apache library supports all the methods of authentication that Gerrit (and this library) uses. I had a lot of problems with digest authentication using OkHttp as they didn't properly support it. This is a big problem if Gerrit's default authentication method is digest as I th

[2016-03-16 10:07] p4r4n01d commented on #34
@sschuberth Where can I find out more about this ReviewIT app? I am pretty interested in other code review apps. Is there anywhere I can have a look at other than Gerrit code review (which is rather ironic btw)?

[2016-03-16 10:17] sschuberth commented on #34
@p4r4n01d The ReviewIt app currently is only hosted on [googlesource.com](https://gerrit-review.googlesource.com/#/admin/projects/apps/reviewit), but you can anonymously clone it via:

    git clone https://gerrit.googlesource.com/apps/reviewit

so that should not be a big issue. @EdwinKempin's original announcement in the repo-discuss group is [over here](https://groups.google.com/d/msg/repo-disc

[2016-03-16 10:22] sschuberth commented on #34
Is method count on Android still an issue for you in multi-dex times?

[2016-03-16 10:26] p4r4n01d commented on #34
Thanks for that link.

It is not really an issue.

[2016-03-16 10:32] sschuberth commented on #34
They indeed still do not seem to support it: https://github.com/square/okhttp/issues/205

However, the https://github.com/rburgst/okhttp-digest library might come to the rescue, though I haven't tried it yet.

[2016-03-21 13:18] sschuberth commented on #34
Closing the request for a SNAPSHOT published from the `httpclient-android` branch in favor of using [JitPack](https://jitpack.io/) as suggested [here](https://gerrit-review.googlesource.com/75995).

[2016-03-21 13:18] #34 closed

[2016-03-21 18:40] uwolfer commented on #34
@sschuberth: Nice solution! Probably other users of the Android branch can also use it.

[2016-04-05 18:39] cbaldacin opened #39 "SocketException with multiple requests"
Hi there, I'm developing a tool which collects metrics from gerrit and I'm using this library to get access to the gerrit rest api.
The root of my problem is that the endpoint "/changes/<change-id>/comments" is not working according to https://gerrit-review.googlesource.com/Documentation/rest-api-changes.html#list-change-comments
(I tested directly in the browser, I know this is not implemented in

[2016-04-05 18:59] uwolfer commented on #39
The endpoint mentioned should work with Gerrit v2.12. See [this change](https://gerrit-review.googlesource.com/67459).

I have no idea why Gerrit should block requests. Does the situation improve if you add some delay between requests?

[2016-04-05 20:54] cbaldacin commented on #39
Thanks, I'll try to request a gerrit update.
I'll have to perform a pull request then, afaik "/changes/[change-id]/comments" it's not implemented, right?
The situation remains pretty much the same adding some delay, it just take more time to throws the exception.

[2016-04-06 20:00] uwolfer commented on #39
You are right, this is not implemented in this lib. PRs are very welcome.

Entry points:
* com.google.gerrit.extensions.api.changes.ChangeApi#comments
* com.urswolfer.gerrit.client.rest.http.changes.ChangeApiRestClientTest

[2016-05-03 18:08] jpopadak opened #43 "Cannot skip SSL certs that are signed by an untrusted authority and not self signed"
Basically need this same commit that you did for IntelliJ plugin, but for the library.

https://github.com/megglos/gerrit-intellij-plugin/commit/b4825726f1e2e8a24278f1428072c59fc5e3d62b

[2016-05-03 18:56] uwolfer commented on #43
@jpopadak: I think you can do that by adding your own `HttpClientBuilderExtension` like this: [`CertificateManagerClientBuilderExtension`](https://github.com/uwolfer/gerrit-intellij-plugin/blob/intellij15/src/main/java/com/urswolfer/intellij/plugin/gerrit/rest/CertificateManagerClientBuilderExtension.java). Then you can pass it to `GerritRestApiFactory#create(GerritAuthData, HttpClientBuilderExten

[2016-05-03 19:14] jpopadak commented on #43
I did end up doing that. But it would be really useful to just have some sort of fallback like inside of the IntelliJ plugin where we can set it to skip ssl checks.

[code]

[2016-05-03 19:18] uwolfer commented on #43
I probably could include such an implementation, but it should IMHO not be enabled by default. Skipping invalid / self signed certs should be a decision made by every developer itself.

[2016-05-03 20:05] jpopadak commented on #43
Of course, this would only be a last resort sort of thing. Always want SSL to be verified by default.

[2016-06-27 17:54] NaveenNNK opened #45 "Error 401 in digest authentication after upgrade of Gerrit version to 2.12.2"
First query works fine with Status code 200 but from next time it returns 401. Same code was working till previous version of Gerrit.

[2016-06-29 13:40] uwolfer commented on #45
@NaveenNNK: What was the version of Gerrit before the update?

[2016-07-04 11:59] dennisandersen opened #46 "Authentication: Only authenticate using /a"
Hi @uwolfer

Would it be possible to provide some means of bypassing the authentication attempts towards /login and only use the rest api auth scheme as described in https://gerrit-review.googlesource.com/Documentation/rest-api.html#authentication by authenticating towards /a/**

[2016-07-04 17:29] uwolfer commented on #46
@dennisandersen: When you do not pass credentials, it does not try to authenticate. Isn't this what you want?

[2016-07-04 20:01] dennisandersen commented on #46
I do want to authenticate to eg /a/projects using digest/basic as described in the doc.. But i do not want the client to attempt any authentication towards /login to acquire a session cookie.

Reason being, that the gerrit server i'm working against does ldap authentication at the /login endpoint whereas authenticating at /a/projects requires the gerrit generated http password for the user.

Just

[2016-07-06 18:33] uwolfer commented on #46
@dennisandersen: Thanks for your explanation - this makes sense of course.

[2016-07-13 20:11] lanejo01 commented on #46
I'm literally dealing with this today! The exact use case that @dennisandersen has is what i'm trying to solve. @dennisandersen any way you could send me a patch or post where you are doing this "shortwiring"?

[2016-07-15 19:52] uwolfer commented on #46
@lanejo01: I think you can just change [GerritRestClient.java:182](https://github.com/uwolfer/gerrit-rest-java-client/blob/master/src/main/java/com/urswolfer/gerrit/client/rest/http/GerritRestClient.java#L182) to: `Optional<String> gerritAuthOptional = Optional.absent();`

I'm still not sure how to implement this. In most cases, caching the login (cookie which is received when sending auth data to

[2016-07-20 21:35] cbaldacin commented on #46
I'm not sure this is 100% related with this issue but, why can't I perform these two operations bellow without having to login again between requests?

List<ChangeInfo> changes = gerritApi.changes().query("status:merged").withLimit(10).get();
// have to login again here
gerritApi.changes().id(changeid).comments();

[2016-07-21 16:33] uwolfer commented on #46
@cbaldacin: The behavior your have described is expected. Since you have created the `GerritApi` with credentials, they are passed to the server with every request issued by the same instance of `GerritApi`.

[2016-08-19 21:55] zaro0508 opened #59 "Support for plugin APIs"
Many Gerrit plugins provide their own REST APIs.  I was wondering if it would be appropriate to add support for Gerrit plugin APIs in this package?

My question is generally for any Gerrit plugin but my specific use case is for the verify-status plugin[1].    I would like to create a Jenkins plugin that can call the verify-status REST endpoints using this client.

[1] https://gerrit.googlesource.c

[2016-11-07 15:13] falbrech-hsdg commented on #45
Same problem here (if I understand @NaveenNNK correctly): First request (getting files from a change) works fine, but posting a review fails with 401. With same user, everything works fine via Gerrit UI. Using [sputnik](https://github.com/TouK/sputnik) which uses your library, and using Gerrit 2.12.2.

[2016-11-07 15:22] falbrech-hsdg commented on #45
Hmm, after updating the sputnik dependency to gerrit-rest-java-client from 0.8.5 to 0.8.8, everything works fine! So I will open an issue there instead.

[2016-12-14 10:03] FloOows opened #66 "RestAPI request fails"
Hi,
I am using [Sonar Gerrit Plugin](https://wiki.jenkins-ci.org/display/JENKINS/Sonar+Gerrit) to post score and comment from Jenkins to Gerrit. However, the plugin fails because of a Rest API exception. The exception is in the attached file : [RestAPIException.txt](https://github.com/uwolfer/gerrit-rest-java-client/files/651332/RestAPIException.txt)

I am wondering what is the root cause of this

[2016-12-14 18:28] uwolfer commented on #66
@FloOows: The relevant line is:
`Caused by: java.net.SocketTimeoutException: Read timed out`

Most probably, your server is busy or not reachable at configured address / port.

[2016-12-14 18:28] #66 closed

[2016-12-21 13:52] sstafford opened #67 "Request a 0.8.9 release build"
Can you produce a 0.8.9 release build?  I need access to some of the fixes that have been introduced since the last 0.8.8 release in April 2016.

Thanks,
Shawn

[2016-12-23 13:55] uwolfer commented on #67
@sstafford: I have just pushed a release. The new version is 0.8.10.

[2016-12-23 13:55] #67 closed

[2017-02-10 17:01] FloOows commented on #66
I don't understand because when I am testing the Rest Connection under configuration page (JenkinsIP:8080/gerrit-trigger/server/Gerrit/) I got Success message
![image](https://cloud.githubusercontent.com/assets/14837771/22835970/f0e819e8-efba-11e6-8363-a63dbcbd3252.png)

[2017-02-10 17:09] uwolfer commented on #66
@FloOows: Can you reproduce this issue? Probably it also happens only for "heavy" requests like listing a lot of files?

[2017-02-14 12:27] rohitthe opened #68 "Need to calculate review time for Gerrit"
Hi,

Can anybody tell how can i calculate review time from this ?
I was planning to use /detail REST call but dint find any method for it. I need to have time at which reviewer gave +2 to the code.

Could anybody please tell me how to code for detail of changes or any other alternative to get review time?

[2017-02-14 16:38] uwolfer commented on #68
IMHO this question isn't specific for this library - you'd better ask this on Gerrit mailing list:
https://groups.google.com/group/repo-discuss

This library just accesses existing Gerrit REST endpoints.

[2017-02-14 16:38] #68 closed

[2017-02-14 18:40] isha25 opened #69 "How to get change detail??"
Hi,

What will be the code for viewing detail of a particular change?
How to use o option for using detailed_labels??

Tried this :
gerritApi.changes.id(cid).get()

But got exception: -o web_links not supported

Please help me getting detail of a change using this library

[2017-02-14 21:12] uwolfer commented on #69
What's the version number of your Gerrit server?

[2017-02-15 09:52] rohitthe commented on #69
gerrit version 2.9.3

[2017-02-15 09:54] isha25 commented on #69
My gerrit version is 2.9.3

[2017-02-15 16:16] isha25 commented on #69
Any update??

[2017-02-15 17:18] uwolfer commented on #69
The option `WEB_LINKS` is not supported with Gerrit 2.9. It got introduced for 2.10. You can try to pass `ListChangesOption` to your request instead of using default options. See `QueryRequest`.

`gerritApi.changes.query("change:yourchangeid).withOptions(...)...`

Please post the whole trace you get when using the call posted in your initial report.

Please keep in mind that this is an open source

[2017-02-15 17:54] isha25 commented on #69
Hey I understand but need to sort this out urgently so thats why bit curious..

Anyways in withOptions() what all values can we pass..and how ??could you give me an example??

[2017-02-15 17:57] uwolfer commented on #69
You can find all options here:
https://github.com/uwolfer/gerrit-rest-java-client/blob/master/src/main/java/com/google/gerrit/extensions/client/ListChangesOption.java

[2017-02-15 17:57] #69 closed

[2017-02-15 18:05] isha25 commented on #69
Thanks

[2017-02-21 14:49] FloOows commented on #66
Hi @uwolfer, It is 100% reproducible. I am working on a very small test project containing 2 files.
My config is : Gerrit on a linux server and Jenkins on a Windows server. I am able to ping linux server from windows one.

[2017-02-27 13:42] sstafford commented on #46
This has become a huge problem for me as well.  We have an environment where we use an LDAP service account for our Jenkins and Gerrit admin and automated activities.  This account is currently being locked almost daily due to calls from both our internal tools as well as what we suspect is the Jenkins Gerrit-Sonar plugin which is in use on at least one of our Jenkins instances.  I've submitted a

[2017-02-27 18:27] uwolfer commented on #46
If anybody could test the patch provided by @sstafford (Thank you very much!), it would be nice.

If there are no objections, I'll merge it soon.

[2017-02-28 09:44] dennisandersen commented on #46
I shall try to verify the change with my jenkins gerrit setup today.

[2017-02-28 14:10] dennisandersen commented on #46
I have integrated the changes within the sonar-gerrit plugin and tried it out briefly.. This is a clean version of my current workaround. I say merge.. :+1:

[2017-02-28 17:54] sstafford commented on #46
Once this commit has merged, I would also like to request a new release version be cut.  Once that is available I can submit a pull request to the Jenkins sonar-gerrit plugin to use the new constructor:

https://github.com/jenkinsci/sonar-gerrit-plugin/blob/master/src/main/java/org/jenkinsci/plugins/sonargerrit/SonarToGerritPublisher.java

I think that should solve the lock-out issues we're experi

[2017-03-01 20:44] uwolfer commented on #46
@sstafford: 0.8.11 is out. Thanks for your work.

[2017-03-03 14:21] sstafford commented on #46
For those who are using the Jenkins sonar-gerrit-plugin and are experiencing LDAP account lockouts due to this bug, I have opened the following defect against that plugin.  There is a pull request listed in the defect comments which also provides a pull request for resolving the issue.

Jenkins sonar-gerrit-plugin defect:
https://issues.jenkins-ci.org/browse/JENKINS-42465

Jenkins sonar-gerrit-plu

[2017-03-30 16:55] ishepard opened #73 "Sortkey not working?"
Hi,
I am aware of the gerrit limit of 500 changes per query. However, according to the APIs, the last change of the list should contain a sortkey to continue from that particular change.

When I run it, sortkey of the last element is null.

Here the code:
[code]

The output is:
[code]

What am I wrong?

[2017-03-31 08:09] uwolfer commented on #73
What's the version of your Gerrit server? Most probably it's too new.

See: http://stackoverflow.com/questions/24606079/gerrit-rest-api-cannot-use-sortkey-to-resume-a-query

[2017-04-16 16:21] uwolfer commented on #73
@ishepard: Due to missing feedback, I'm closing this issue. Feel free to add feedback.

[2017-04-16 16:21] #73 closed

[2017-04-16 16:22] #45 closed

[2017-04-16 16:23] uwolfer commented on #39
@cbaldacin: I'll close this issue since I have not heard from anybody else about this issue. If you have any feedback / news, please add it here.

[2017-04-16 16:23] #39 closed

[2017-04-16 16:47] cbaldacin commented on #39
ok, close it..!

On Sun, Apr 16, 2017 at 1:23 PM, Urs Wolfer <notifications@github.com>
wrote:

[2017-05-03 15:31] FloOows commented on #66
Is the testing of Rest API may be different than when a plugin try to post something onto gerrit ?

[2017-05-03 16:51] uwolfer commented on #66
@FloOows: What do you mean with "testing of Rest API"? The button in Jenkins config UI?

[2017-05-04 07:16] FloOows commented on #66
@uwolfer Yes, using "Test REST Connection" button under Gerrit trigger configuration page

[2017-05-04 09:45] sebValiantys commented on #46
Shouldn't this issue be closed since [PR #70](https://github.com/uwolfer/gerrit-rest-java-client/pull/70) has been merged in 0.8.11 ? Or are there still issues pending on this matter ?

[2017-05-05 17:55] #46 closed

[2017-05-05 17:56] uwolfer commented on #66
@FloOows: I cannot answer this question. I think you should ask the Jeninks Gerrit plugin authors. Please post any news here. Thank you.

[2017-08-28 14:12] atiasadir opened #76 "Gerrit Api for Changes return "null" for several attributes"
Hi All,

I tried this snippet (based on the given example "Basic.groovy")

List<ChangeInfo> changes = gerritApi.changes().query('is:open+project:syssw/jenkins+branch:ci_devel+label:verified=0').withLimit(2).get()

changes.each { ci ->
    println "subject  => ${ci.subject}"
    println "project  => ${ci.project}"
    println "revisions       => ${ci.revisions}"
    println "currentRevision => ${ci

[2017-08-28 20:46] uwolfer commented on #76
I think you just need to use option 'ALL_REVISIONS' in your query request (another method like 'withLimit').

[2017-08-28 20:49] atiasadir commented on #76
Hi @uwolfer , you are right.
the relevant for example:
gerritApi.changes().query('is:open').withOption(ListChangesOption.CURRENT_REVISION)withLimit(2).get()

another question, is it possible to integrate this awesome library to jenkins ?

[2017-09-04 18:18] uwolfer commented on #76
@atiasadir: I do not know Jenkins well. Probably the library could be added as a plugin? I suggest you ask a developer who is familiar with Jenkins ;)

[2017-09-04 18:18] #76 closed

[2017-11-01 07:41] jdktomcat opened #78 "XSRF_TOKEN"
Hello,I have a very odd problem for help.Same user and password,one can connect,one not.
![image](https://user-images.githubusercontent.com/8428408/32264573-4e10021e-bf1a-11e7-9fb7-0287b30e0111.png)
![image](https://user-images.githubusercontent.com/8428408/32264593-5cecd79e-bf1a-11e7-8320-56112b6f6f6a.png)
I use the Fiddler analysis the http information,I found the fail reason is missing XSRF_TOK

[2017-11-01 07:44] uwolfer commented on #78
@jdktomcat: Does one user use the "HTTP Password" set in Gerrit settings while the other uses "normal" Gerrit credentials?

[2017-11-01 07:46] jdktomcat commented on #78
I try it too,it's also doesn't work

[2017-11-01 07:50] jdktomcat commented on #78
intellij14 works fine,but intellij2016.2 and intellij15 fail.I debug the source code,it's the cookie XSRF_TOKEN missing leads this problem

[2017-11-01 19:29] uwolfer commented on #78
Just to ensure that I have understood it correctly: It works for the same user with the same password in IntelliJ 14, but it does not work in 15 and 2016.2?

[2017-11-02 03:16] jdktomcat commented on #78
@uwolfer yes,it is.But I tried the 2017.2 version,it's work well.Wierd！！

[2017-11-02 19:11] uwolfer commented on #78
@jdktomcat: So I'll close this issue because it works now for you.

[2017-11-02 19:11] #78 closed

[2017-12-05 22:17] samalg91 opened #79 "there is a problem with the date format 2006-01-02[ 15:04:05[.890][ -0700]]"
i am having thError Getting Gerrit Changes.Request not successful. Message: Bad Request. Status-Code: 400. Content: line 1:56 no viable alternative at character '['.is issue

[2017-12-06 07:38] uwolfer commented on #79
Please access the REST API with a plain browser and post the relevant parts of the response there.

[2017-12-07 17:51] samalg91 opened #80 "owner.name always return null"

[2017-12-07 19:34] uwolfer commented on #80
Most probably this depends on your Gerrit server. Please request the JSON result with a HTTP client (e.g. curl or your web browser and check if this property is available there.

[2017-12-08 20:32] samyzemmouri commented on #80
could you give  me the url i can use  please

[2017-12-08 20:47] uwolfer commented on #80
@samyzemmouri: Which API method are you calling? Then I can tell you.

You can find URLs here: https://gerrit-review.googlesource.com/Documentation/rest-api-changes.html

[2018-01-03 09:44] lucamilanesio commented on #24
@sschuberth let me answer:
- TravisCI => all Gerrit code is built on gerrit-ci.gerritforge.com
- Coveralls => we can run JaCoCo and integrate with Jenkins
- VersionEye => All Gerrit  code is mirrored to GitHub anyway, we won't lose it

@uwolfer no need to change package-name or copyright

[2018-01-03 09:49] sschuberth commented on #24
@lucamilanesio, sure that's doable, but it creates work with unclear benefit, while the current setup just works. VersionEye, howvever, [has shut down](https://blog.versioneye.com/2017/10/19/versioneye-sunset-process/) anyway.

[2018-01-03 09:52] lucamilanesio commented on #24
@sschuberth Code Reviews? Discoverability? Integration and alignment with Gerrit Builds? Those sound to me clear benefits :-)

[2018-01-03 10:10] sschuberth commented on #24
It's not that there are no code reviews at all at GitHub 😉 Your other points might be benefits depending on whether you get [existing contributors](https://github.com/uwolfer/gerrit-rest-java-client/graphs/contributors) to also sign up on *gerrit-review*.

But for me the real downside of using *gerrit-review* is the complicated CI setup. I once tried to get pre-submit checks running for [reviewit]

[2018-01-03 10:35] lucamilanesio commented on #24
@sschuberth if you are contributing to this plugin, I assume you know how to use Gerrit, isn't it? With regards to the complicated CI setup ... are you sure? There is a gerrit-ci-scripts repo on gerrit-review and you just need to create a YAML file, even simpler than the Travis one. That doesn't sound complicated at all IMHO.

[2018-01-03 10:39] sschuberth commented on #24
It's not about knowing how to use Gerrit, it's about being willing to create an account on the *gerrit-review* instance. That's what I meant.

WRT to adding pre-submit checks that give `Verify+1` feedback (not post-submit checks for *master*), I can give that a try for *reviewit* again. Maybe things have changed and it's easier now.

[2018-01-03 10:42] lucamilanesio commented on #24
@sschuberth I see your point. Another alternative could be using review.gerrithub.io which can import pull-requests and uses the same GitHub accounts.

I remember the (reviewit)[https://gerrit-review.googlesource.com/admin/repos/apps/reviewit] story and things are getting much easier: I am about to release today a brand-new Jenkins plugin that I have (announced back in August)[https://groups.googl

[2018-01-03 10:53] lucamilanesio commented on #24
@sschuberth a value on being on gerrit-review is the ability to get more contributions and inputs from the community of the Gerrit maintainers and contributors (see [Gerrit Analytics](https://gerrit-analytics.gerritforge.com) for a list of the past 12 months contributors). Additionally, this project would become part of the GerritCodeReview GitHub organization, which would give it an official endo

[2018-01-03 11:20] sschuberth commented on #24
We were looking at *gerrithub*, too, but one of its downsides it that there's not automatic bidirectional sync between incremental comments on GitHub and Gerrit (which, granted, is hard to do).

Looking forward to your Jenkins plugin, though!

[2018-01-03 12:20] lucamilanesio commented on #24
@sschuberth yes, the new plugin is going to replace the jenkins-job-builder mechanism. Since the introduction of the Jenkinsfile, there is no need anymore to generate tons of jobs automatically through scripting.

In a nutshell, a "Gerrit-powered Job" will automatically see the changes in the "Pull request" tab and you'll be able to send feedback to Gerrit from the Jenkinsfile, without having to r

[2018-03-09 12:31] FloOows commented on #66
I investigated a little bit more and I have a new question about this issue I still have. I agree with you that this plugin is probably not the root of my issue, but I need to understand something.

1/ Test Rest Connection works from Jenkins -> Manage -> Gerrit Trigger -> Rest Api section
This sends following request to Gerrit : `"GET /a/projects/?d HTTP/1.1" 200 739 - "Apache-HttpClient/4.5.3 (Ja

[2018-03-10 11:12] uwolfer commented on #66
Are you sure you are using this library? At least the user agent (`Apache-HttpClient/4.5.3 (Java/1.8.0_20)`) is not the one sent by this library. See this code: https://github.com/uwolfer/gerrit-rest-java-client/blob/master/src/main/java/com/urswolfer/gerrit/client/rest/http/GerritRestClient.java#L565

You could also look into webserver logs and try to execute the request which fails by your own w

[2018-03-12 16:33] FloOows commented on #66
Your advice to test it with curl made me point out the issue. It was the classical proxy issue ...
Thanks for your answers.

[2018-03-12 18:29] uwolfer commented on #80
@samalg91: Do you have some news?

[2018-07-04 19:01] uwolfer commented on #80
@samalg91: Feel free to reopen.

[2018-07-04 19:01] #80 closed

[2018-07-04 19:02] uwolfer commented on #79
@samalg91: Closing due to missing feedback. Feel free to reopen.

[2018-07-04 19:02] #79 closed

[2018-10-22 09:26] EFregnan opened #84 "How to get Diff between patches"
Hi, I am new to this API and I would like to extract some information about the diff between two patch sets (or between files in the patch sets).
I have seen that this project implements the classes DiffInfo and DiffWebLinkInfo, but I can't understand how can I link to them from the information that I obtain using the class GerritApi.

Could you please help me?

Thank you very much.

[2018-10-23 18:17] uwolfer commented on #84
You can use the file API: https://github.com/uwolfer/gerrit-rest-java-client/blob/master/src/main/java/com/google/gerrit/extensions/api/changes/FileApi.java#L29

(select a change with change API, then get a revision and from there select a file)

If you have any code example which does not work, feel fee to post it here so I can help you.

[2018-11-02 20:41] uwolfer commented on #84
You might also want to look into this PR which touches code related to your question: https://github.com/uwolfer/gerrit-rest-java-client/pull/85

[2018-11-02 20:41] #84 closed

[2018-12-25 10:56] yuwei336 opened #86 "query fail with multi conditions"
I created a new label:Autosubmit in my gerrit server. I need to use the label to do someting. But when I add the label to query, it will have some exceptions.

java.lang.IllegalArgumentException: Illegal character in query at index 62: http://aml-code-master.amlogic.com:8080/changes/?q=status:open (label:Code-Review=2 AND label:Autosubmit=1)&n=100&o=DETAILED_LABELS&o=DETAILED_ACCOUNTS
	at java.net

[2018-12-25 10:57] yuwei336 commented on #86
If I use "http://aml-code-master.amlogic.com:8080/changes/?q=status:open (label:Code-Review=2 AND label:Autosubmit=1)&n=100&o=DETAILED_LABELS&o=DETAILED_ACCOUNTS" this url with Chrome browser, it work well.

[2018-12-25 11:01] yuwei336 commented on #86
I know the reason, we can not use ' ', we need use '+'.
If I use "changes.query("status:open+label:Code-Review=2+label:Autosubmit=1")", it will be ok.
Thanks!

[2018-12-26 08:42] uwolfer commented on #86
@yuwei336: Do I understand correctly that:
1) it works when you enter the query with a + in the filer text field
2) it does not work when you enter a space in the filter text field

[2018-12-26 08:49] uwolfer commented on #86
@yuwei336: I think you should call `QueryRequest#encode` before executing the query.

[2019-01-05 09:10] uwolfer commented on #86
@yuwei336: Have you had time to check out my suggestion? Please let me know if it helps.

[2019-03-19 06:38] liliVicky opened #87 "use fileApi to send diffrequest get 404 fail"
I use the following way to get diffInfo, the param file is "src/server/api/v1/router.py" like this, it will be encoded by URLEncoder to "src%2Fserver%2Fapi%2Fv1%2Frouter.py",then send this path to url as a http request ,the http.request in httpcontext is “{http.request=GET /a/changes/292672/revisions/34736b70222534bae851f0455fcf53ef6b731d72/files/cps/server/api/v1/router.py/diff HTTP/1.1”， and i g

[2019-03-21 19:39] uwolfer commented on #87
After shortly looking into the code, I think it should be encoded: https://github.com/uwolfer/gerrit-rest-java-client/blob/master/src/main/java/com/urswolfer/gerrit/client/rest/http/changes/FileApiRestClient.java#L50

Since you are already debugging the code: please just download the sources of this lib (available via maven as well), and debug into the lines I've posted above.

[2019-03-25 02:01] liliVicky commented on #87
I have debuged into the lines,and got the correct encoded path,but when I send the path to httpclient,httpclient decode it,which I think is the reason for the problem.I have used httpurlconnection instead of httpclient which won’t decode path before send to get responses to solve the problem and I think you should also modify it in your project.

[2019-05-01 15:02] PowerLiam opened #90 "Threadsafety of Library?"
Hello!

I was interested in some information regarding the threadsafety of this library (the GerritApi object).  I did some reading of the source and found some low level locking (in CookieStore for example), but I wanted to make sure that the library is considered threadsafe in its entirety.  How will it handle 15-20 threads pounding the same GerritApi object?

Also as a sidenote, is it safe to h

[2019-05-01 18:16] uwolfer commented on #90
I think it should be thread safe.

One thing which probably not plays very nicely, is [LoginCache](https://github.com/uwolfer/gerrit-rest-java-client/blob/master/src/main/java/com/urswolfer/gerrit/client/rest/http/LoginCache.java), but it should not cause any issues.

That should also work. The cache mentioned above is not shared, but it works nevertheless.

If you find any issues, please let me k

[2019-05-01 18:16] #90 closed

[2019-05-15 19:20] uwolfer commented on #87
@liliVicky: I've received feedback from another user that building with Java 8 (or later) fixes this issue. Could you try that? You probably need to update the language and target level in maven XML file.

[2019-05-21 03:23] liliVicky commented on #87
I've used java 8, but still have the problem.
![image](https://user-images.githubusercontent.com/20653950/58066171-ce7ddf80-7bba-11e9-81b4-d7ebaa86a166.png)

[2019-05-22 19:03] uwolfer commented on #87
@liliVicky: Thanks. Can you please also try to change the target level (project bytecode level)? See: https://stackoverflow.com/a/12900859

[2019-05-24 07:57] zhiwoeryi opened #92 "support https?"
url is https, throw Request failed Exception?

[2019-05-24 09:24] zhiwoeryi opened #93 "not support HTTP digest auth?"
if I want to use https and HTTP digest auth , I must over write GerritRestClient.java .
I suggest you can use HttpClientBuilderExtension.class support basic auth.

[2019-05-25 09:03] uwolfer commented on #92
We will continue discussion in your other related issue #93.

[2019-05-25 09:03] #92 closed

[2019-05-25 09:04] uwolfer commented on #93
Can you please post some code which explains your issue in detail?

[2019-10-21 03:28] yuwei336 commented on #86
Sorry, late to reply. It's ok if I follow your suggestion. Thanks.
I updated the version to the latest: 0.8.18.

I found another bug:
if ( revisionApi.canRebase()) {
    changeApi = revisionApi.rebase();
    revisionApi = changeApi.current();
}

I want to check if a CL can be rebased or not. If yes, I want to rebase it first, otherwise maybe have some conflicts.

But I wll get a exception if I use

[2019-10-21 18:15] uwolfer commented on #86
RevisionApi#canRebase is not implemented yet, see https://github.com/uwolfer/gerrit-rest-java-client/blob/master/src/main/java/com/urswolfer/gerrit/client/rest/http/changes/RevisionApiRestClient.java.

Feel free to implement it and create a pull request. I'm happy to support you.

[2019-10-21 18:15] #86 closed

[2019-11-18 19:04] lucamilanesio commented on #24
@uwolfer @sschuberth we are now using the new [Gerrit Code Review plugin for Jenkins](https://github.com/jenkinsci/gerrit-code-review-plugin) on [gerrit-review](https://gerrit-review.googlesource.com) and projects can have a Jenkinsfile and have their changes automatically verified.

Is this potentially the right moment to move the project over? P.S. All the projects on gerrit-review are mirrored

[2019-11-18 19:47] sschuberth commented on #24
That's purely up to @uwolfer, I'm just an occasional contributor with an opinion 😉

[2019-11-19 19:20] uwolfer commented on #24
Hey @lucamilanesio, thanks for the update! Sounds nice. Will look into it again when I find a bit more time to work on this project - but I'm also happy with the current setup on GitHub as it works as expected. But of course, as this is a Gerrit related project, it would be nice to use Gerrit.

[2019-12-30 14:21] lucamilanesio opened #97 "Incompatibility with Gerrit <= v2.14"
When using the Java client with Gerrit v2.14 (or earlier) the ChangeApiRestClient.get() would cause Gerrit to fail with the following error: `com.urswolfer.gerrit.client.rest.http.HttpStatusException: Request not successful. Message: Bad Request. Status-Code: 400. Content: "TRACKING_IDS" is not a valid value for "-o".`.

This is causing the Gerrit Code Review plugin for Jenkins to fail (see report

[2019-12-30 14:24] lucamilanesio commented on #97
@uwolfer I believe the problem is related to https://github.com/uwolfer/gerrit-rest-java-client/blob/c08c7631e2ddf2af2fb510d1186500395a784ff2/src/main/java/com/urswolfer/gerrit/client/rest/http/changes/ChangeApiRestClient.java#L281.
By adding *ALL* options you are adding also the ones that aren't supported in v2.14, like TRACKING_IDS.

[2019-12-30 14:33] lucamilanesio commented on #97
@uwolfer I believe the solution would be:
1. Get the remote Gerrit version
2. Remove ALL extensions that are bigger than the highest extension available on that version

How does it sound?

[2019-12-30 14:36] lucamilanesio commented on #97
In the README.md you stated `Only Gerrit 2.6 or newer is supported`: would you like possibly to revisit the statement and include only a more recent release? Let's say v2.10 or later? That would reduce the impact of the fix.

[2019-12-30 19:19] uwolfer commented on #97
@lucamilanesio: Thanks for your detailed report.

I'm just wondering if you really need to call `#get()`? I'd suggest to call `#get(EnumSet<ListChangesOption> options)` also for performance reasons if you do not really need all of the details.

In the Gerrit IntelliJ plugin, I've used this workaround for Gerrit backwards compatibility: https://github.com/uwolfer/gerrit-intellij-plugin/blob/intelli

[2019-12-30 21:52] lucamilanesio commented on #97
I need all the change details because they are needed to setup the environment variables used by the job. I will also expose the change data as JSON object to the pipeline.

Saw that, however, it's a bit of a shoot in the dark isn't it? I'd prefer to have a clearer definition of what is and is not included in the version of Gerrit that the API is calling.

True, but that option may not be availabl

[2019-12-30 21:59] uwolfer commented on #97
I see, makes sense.

Yes, this is a fallback which works in my specific case because I can handle it when some data is not available.

I'm just wondering what happens when an option is requested, but the client knows that this option is not supported by the Gerrit server which is connected?

Sounds good - I'm happy to review it.

[2019-12-30 22:57] lucamilanesio commented on #97
I was thinking about exposing the list of supported options for the current detected version of the server that the client is connected to. Then, even after knowing them, if the client is *explicitly* using an unsupported option, he will get an exception, which is expected.

If no options are passed,  the client will get all the possible options supported by the remote Gerrit server version.

Hope

[2019-12-31 06:43] uwolfer commented on #97
Sounds good.

[2020-01-12 19:49] lucamilanesio commented on #97
@uwolfer this is now fixed on master, is it possible to have a release?

[2020-01-15 21:27] uwolfer commented on #97
@lucamilanesio I've released it as 0.9.0.

[2020-01-15 21:27] #97 closed

[2020-01-16 04:50] lucamilanesio commented on #97
Thanks @uwolfer for your help in getting this merged and released :-)

[2020-01-27 18:56] uwolfer commented on #93
Closing due to missing feedback.

[2020-01-27 18:56] #93 closed

[2020-01-27 18:57] uwolfer commented on #87
Closing due to missing feedback.

[2020-01-27 18:57] #87 closed

[2020-05-29 16:59] lucamilanesio opened #107 "Users of this library are causing DDoS against GerritHub.io"
We start receiving a lot of authentication requests looping and generating traffic from multiple IPs to GerritHub.io.

I believe the problem is associated to the way the authentication is managed in the library.
See the [culprit of the problem](https://github.com/uwolfer/gerrit-rest-java-client/blob/01c39a053ac000f31f5e61764a6adec4235eac6a/src/main/java/com/urswolfer/gerrit/client/rest/http/Gerrit

[2020-05-29 19:26] uwolfer commented on #107
@lucamilanesio: Do you think this is a "new" issue?

Does it affect all users who are using this lib (for example by using the Gerrit plugin)?

Do you already have a possible fix in mind?

I'm a bit scarred of changing authentication stuff because it is a big fragile as far as I remember (especially for supporting the "xGerritAuth" stuff).

[2020-05-29 20:12] lucamilanesio commented on #107
No, I believe it has been there for years. I need to understand why it was triggered today: possibly someone using your library pushed an update? It wasn't coming from a specific IP, but all of them had `gerrit-rest-java-client/0.8.16 using Apache-HttpClient/4.5.6` in their user-agent.

Affects only the ones using Ver. 0.8.16.

Yes, it should be fairly easy I believe. The OAuth handshake redirecti

[2020-05-29 20:29] lucamilanesio commented on #107
I just double-checked the logs, and it looks like the anomaly is NOT associated to other versions of the library, but only with `v0.8.16`. It could also be associated with wrong usage of the library, so I could look at other projects using it.

The IntelliJ plugin uses the `v0.8.16` but has a slightly different user-agent. I would therefore exclude that plugin. The [Gerrit Code Review pllugin for

[2020-05-31 19:48] uwolfer commented on #107
@lucamilanesio: I've just looked into the git log v0.8.16..v0.9.1 and I cannot find any commit which could have fixed this issue... Can you find users in the logs which use a newer version of lib and are not suffering from this issue? And can you find v0.8.16 users which seem not to have this issue in the logs?

[2020-06-02 22:55] lucamilanesio commented on #107
By digging into a wider set of logs, I see the problem coming from two versions: `v0.8.13` and `v0.8.16`. I do see calls that are using the `v0.8.16` and do not have the issue, but they use the REST-API authentication mechanism.

I believe the problem is exactly *how* this library is used rather than the library itself. This problem that I believe I have identified is basically a missed status cod

[2020-06-03 01:07] lucamilanesio commented on #107
I have attempted a fix to the problem, let me know if you agree on the approach.
I will then announce on to the GerritHub.io users that they will *have to upgrade* to the new version of the REST Client to continue using the service.

[2020-06-03 18:51] #107 closed

[2020-10-26 09:25] HwangChan opened #118 "code-review +1 how to do it"
sorry，man，My english is not very good,but i encountered some problems;
i want to do like `ssh -p 29418 huangc4@10.16.37.120 gerrit review 17,1  --code-review +1`

--code-review 1
but i dont know how to use this library to do it，thx

I'm sorry to bother you.

[2020-10-26 19:38] uwolfer commented on #118
Hi @hongkailiu

I think you are looking for something like the following snippet:

gerritApi.changes().id(changeId).revision(revision).review(reviewInput);

Please let me know if this does not help.

[2020-10-26 19:38] #118 closed

[2020-10-29 20:47] EFregnan opened #119 "Reduce number of Parser classes"
While working to expand the functionalities supported by the API, I noticed that so far we have followed the paradigm of having one _Parser_ class per data type to extract: e.g., one for CommentInfo entities, one for CommitInfo entities, and so on.

However, this adds a lot of load in terms of parameters passed to the constructor of classes as _ChangeApiRestClient_ or _RevisionApiRestClient_. I th

[2020-10-30 19:58] uwolfer commented on #119
Sounds like an idea - would you like to do that for one example cluster, and then I can take a look?

[2020-10-31 12:04] EFregnan commented on #119
Sure, I will create a first "cluster" of parsers and open a PR so you can have a look.

[2020-11-01 16:36] EFregnan commented on #119
A added a PR with an example of clusters. I think that proceeding in a similar fashion we could cut the number of parameters in the constructors of _ChangeApiRestClient_ or _RevisionApiRestClient_ without losing too much in terms of understandability of the code.

Let me know what you think.

[2021-02-07 07:55] magaofei opened #129 "ProjectInfo miss toString()"
ProjectInfo miss toString() method

[2021-02-07 16:08] EFregnan commented on #129
Thank you for pointing this out.

Classes in the _src/main/java/com/google/gerrit/_ folder are taken directly from the official Gerrit source code.
I checked their master branch and the ProjectInfo class ([here](https://gerrit.googlesource.com/gerrit/+/refs/heads/master/java/com/google/gerrit/extensions/common/ProjectInfo.java)) does not contain a _toString()_ method there as well

Since the Proje

[2021-02-07 20:23] uwolfer commented on #129
@EFregnan: Thanks for your feedback - fully agree.

@magaofei Thanks for reporting, but please open this report upstream: https://www.gerritcodereview.com/issues.html

[2021-02-07 20:23] #129 closed

[2021-02-15 16:54] EFregnan commented on #119
@uwolfer, I would like to add a folder _parsers_ in _gerrit-rest-java-client/src/main/java/com/urswolfer/gerrit/client/rest/http/changes/_ to separate parser classes from the other classes (e.g., ChangeApiRestClient.java).

What do you think?

[2021-02-15 19:56] uwolfer commented on #119
Sounds reasonable to me.

[2021-02-27 23:55] nickb-carallon opened #131 "CommitApi file endpoint"
Hey, it's currently possible to query the contents of a file in a commit (rather than all the files in that commit) via the Gerrit rest api, however there isn't a method for this exposed in the CommitApi java class. I was wondering if I wanted to add this to your project, would I first need to add a method for it to the main Gerrit repo, or would it be okay to just add here?

[2021-02-28 12:01] EFregnan commented on #131
Hi, thank you for pointing this out.

The files in the src/main/java/com/google directory are periodically synched with the ones of the main Gerrit repo.

For this reason, you should first add this functionality in the main Gerrit repo. Then, we will import the modified CommitApi class here and it will be possible to proceed with the implementation.

@uwolfer, do you agree?

[2021-03-02 17:30] nickb-carallon commented on #131
Okay, thanks for the advice 🙂

[2021-03-02 23:12] nickb-carallon commented on #131
After some more reading and pondering, I believe I can accomplish more using the Giles plugin for Gerrit (such as retrieving trees as well as files). However it seems that including support for plugin apis here is still under discussion so I may leave making any changes until that discussion has been resolved.

[2021-03-04 19:38] uwolfer commented on #131
I assume you are talking about #59.

[2021-03-04 23:11] nickb-carallon commented on #131
Yep, that's the one.

[2021-03-06 04:41] magaofei opened #132 "Content: "--query2" is not a valid option"
When I use the query method, it fails.

I found this code in `GroupRestClient.java`
[code]
Why is `query2` written here? If `query2` is used, an error will be reported, and `query` will not be wrong. The version of gerrit I use is 3.3.1

[2021-03-06 20:28] uwolfer commented on #132
Interesting catch.

I've found the following [here](https://www.gerritcodereview.com/3.2.html):

So yes, I think we should change it back to `query` (and probably break it for older Gerrit servers).

[2021-03-07 15:50] EFregnan commented on #132
@magaofei, would you like to do this change?

[2021-03-08 06:41] magaofei commented on #132
@EFregnan Okay, should I add a `query` method or replace `query2` with `query`?

[2021-03-08 13:41] EFregnan commented on #132
@magaofei , thank you for taking care of it.

Yes, I think it would be fine to simply replace `query2` with` query` in the existing method.
If I understood correctly, I think this is what @uwolfer meant.

I wonder if we should also add a comment specifying the latest version of Gerrit for which this method will work after the change.

[2021-03-08 19:36] uwolfer commented on #132
Yes, unless there is a better idea ;)

That makes sense.

[2021-03-13 19:54] #132 closed

[2021-03-28 14:06] EFregnan opened #135 "WorkInProgressInput class is missing"
While working on the method _SetWorkInProgress_, I noticed that the class WorkInProgressInput is not contained in  [java/com/google/gerrit/extensions/api/changes](https://gerrit.googlesource.com/gerrit/+/refs/heads/master/java/com/google/gerrit/extensions/api/changes/).

However, my understanding is that this class is necessary for the method SetWorkInProgress to work with a message (the documenta

[2021-03-29 10:48] EFregnan commented on #135
It seems there was a bit of discrepancy between the name of the class reported in the documentation and the real name of the class.

The class we need is WorkInProgressOP ([here](https://gerrit.googlesource.com/gerrit/+/refs/heads/master/java/com/google/gerrit/server/change/WorkInProgressOp.java#41)). However, it is contained in the _com.google.gerrit.server_ path, which is not included in this pr

[2021-03-29 18:46] uwolfer commented on #135
Yes, you can it.

[2021-03-29 19:11] EFregnan commented on #135
Perfect. Thank you!

[2021-04-05 15:43] EFregnan commented on #135
@uwolfer, I started to work on this but I soon realised that the amount of classes and dependencies we need to add is quite big. To complicate the situation further, there are quite a few new external dependencies that need to be imported.

Do you know if there is there an easy way to import all the dependencies from the Gerrit project or, at least, to figure out which libraries (and versions) the

[2021-04-05 20:21] uwolfer commented on #135
In the past, I've just copied over the whole package from Gerrit repo into this, and then wiped out some things we do not need here because they are internal or unused in another way.

But so far, we have not added any libs (except probably Guava), because Gerrit depends on it. Do you have samples of such libs?

[2021-04-07 21:48] EFregnan commented on #135
For instance, they often use classes from the _AutoValue Annotations_ library.

I also found some uses of classes from _Jgit_. Some other external dependencies are used, but generally just once or twice from what I have seen.

[2021-04-08 18:48] uwolfer commented on #135
So far, I think I've omitted classes using this lib (or probably I've added the code generated by this lib manually to the source, not sure anymore).

Hmm, that sounds really odd - are they using Jgit in the extensions package?

But anyway, you can probably just import classes directly related to `WorkInProgressInput` for now, and I can take care of doing a full sync (and also document how I do th

[2021-11-01 17:51] vitalca opened #144 "The client cannot retrieve file content if the file name contains "+""
Hello,

I am using v0.9.3, trying to retrieve files from an unmerged commit.
For all files with "+" in the names I get `com.urswolfer.gerrit.client.rest.http.HttpStatusException: Request not successful. Message: Not Found. Status-Code: 404. Content: Not Found.`

The client performs URL encoding for all file names in `com.urswolfer.gerrit.client.rest.http.changes.FileApiRestClient#requestPath`, and

[2021-11-18 19:30] uwolfer commented on #144
Closed with #145.

[2021-11-18 19:30] #144 closed

[2021-12-22 02:47] dreamerisdoer opened #149 "org.apache.http.conn.ConnectionPoolTimeoutException: Timeout waiting for connection from pool"
After the program has been running for some time, ConnectionPoolTimeoutException exception occurs.
I guess it is caused by not consuming response correctly in method: GerritRestClient.request().

Possible solution is add the following code in a final block:
`EntityUtils.consumeQuietly(response.getEntity());`

[2021-12-22 19:51] uwolfer commented on #149
Do you use specific endpoints for which the body is not consumed? As far as I remember, we consume the body for most operations. Or does this only happen when a request fails?

[2022-01-03 20:06] uwolfer commented on #149
@dreamerisdoer: Please see my question above.

[2022-01-05 06:04] dreamerisdoer commented on #149
@uwolfer Sorry for late reply. I do requested a lot of files from gerrit that didn't actually exist anymore. After getting a series of 404 errors, 'Timeout waiting for connection from pool' came out. Maybe I should do some checking first to avoid requesting files that no longer exist.

[2022-06-14 20:13] #149 closed

[2022-06-14 20:14] uwolfer commented on #149
In case you can still reproduce this issue with the next release, please let me know. I was only able to spot one place which does not consume the response entity. Feel free to check the code as well. Thanks for your report.